.table {
  width: 80%;
  justify-self: center;
  border-collapse: collapse;
  text-align: center;
}

.table th, .table td {
  border: 1px solid black;
  padding: 10px;
}

.table th {
  background-color: rgb(204, 226, 132);
}

.table tr:nth-child(even) {
  background-color: lightgray;
}