.intestazione {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 20px;
}


.intestazione div:last-child {
  font-size: 1.5rem;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
} 

.intestazione button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.enter {
  font-size: 1.5rem;
}

.exit {
  font-size: 1rem;
  font-weight: bold;
}

.intestazione div:hover {
  background-color: lightgray;
}


.successAlert {
  position: absolute;
  top: 20px;
  background-color: lightgreen;
  padding: 15px;
  font-weight: bold;
  border-radius: 10px;
}