.intestazione {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 20px;
}

.intestazione button {
  font-size: 1.3rem;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.84);
  border: none;
  cursor: pointer;
}

.intestazione button:hover {
  background-color: antiquewhite;
}

.enter {
  font-size: 1.5rem;
  font-weight: bold;
}

.exit {
  font-size: 1rem;
  font-weight: bold;
}

.successAlert {
  position: absolute;
  top: 20px;
  background-color: rgb(160, 228, 160);
  padding: 15px;
  font-weight: bold;
  border-radius: 10px;
}