.navbar ul {
  display: flex;
  padding: 8px;
  justify-content: space-between;
}
.navlink {
  color: white;
  width: 45px;
  height: 45px;
  text-decoration: none;
  font-size: 1rem;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navlink:hover {
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.169);
}

.navlinkActive {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  color: white;
  border: 2px solid rgba(177, 177, 131, 0.664);
  background-color: rgb(142, 142, 142);
  padding: 8px;
  text-decoration: none;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
} 
