

.highBudget {
  color: green!important;
  font-weight: bold!important;
}

.lowBudget {
  color: yellow!important;
  font-weight: bold!important;
}

.zeroBudget {
  font-weight: bold!important;
}

.underZeroBudget {
  color: red!important;
  font-weight: bold!important;
}