
.highBudget {
  color: green!important;
  font-weight: bold!important;
}

.lowBudget {
  color: yellow!important;
  font-weight: bold!important;
}

.zeroBudget {
  font-weight: bold!important;
}

.underZeroBudget {
  color: red!important;
  font-weight: bold!important;
}

.colorRed {
  color: red;
  font-weight: 900;
}

.colorGreen {
  color: green;
  font-weight: 900;
}

.colorBlue {
  color: rgb(5, 134, 239);
  font-weight: 900;
}

.cellaSenzaValore {
  color: transparent!important;
}

.cellaConValore:hover {
  background-color: rgb(88, 88, 88);
  color: rgb(241, 212, 174);
  cursor: pointer;
}