body, #root, html {
  width: 100%;
}

body, root, html, ul {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: black;
}

h1 {
  text-align: center;
}

.fc-day-today {
  background-color: rgba(30, 199, 250, 0.5) !important; /* Giallo chiaro */
  border-radius: 5px;
}

@keyframes zoomGlow {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0px rgba(0, 128, 255, 0);
  }
  100% {
    transform: scale(1.5);
    box-shadow: 0px 0px 40px 20px rgba(0, 128, 255, 0.865);
  }
}