body, #root, html {
  width: 100%;
}

body, root, html, ul {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: black;
}

h1 {
  text-align: center;
}

.fc-day-today {
  background-color: rgba(30, 199, 250, 0.5) !important; /* Giallo chiaro */
  border-radius: 5px;
}